$mq-responsive: true;
$mq-breakpoints: (
        mobile:  320px,
        wp-mobile:  783px,
        wp-collapsed:  960px,
        design: 1124px
);

// https://github.com/sass-mq/sass-mq
@import '../node_modules/sass-mq/mq';

@import "components/ilab-toggle";

$font-stack-system: (
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Avenir Next",
        "Avenir",
        "Segoe UI",
        "Lucida Grande",
        "Helvetica Neue",
        "Helvetica",
        "Fira Sans",
        "Roboto",
        "Noto",
        "Droid Sans",
        "Cantarell",
        "Oxygen",
        "Ubuntu",
        "Franklin Gothic Medium",
        "Century Gothic",
        "Liberation Sans",
        sans-serif,
);

$font-stack-header: $font-stack-system;

.settings-container {
  margin: 0px 0px 0px -20px;
  font-family: $font-stack-system;

  header {
    position: relative;
    background-image: url(../img/settings-bg.svg);
    background-position: left center;
    background-size: cover;
    height: 100px;
    width: 100%;

    display: flex;
    align-items: center;

    & > img {
      margin:0px 20px;
      width: 126px;
      height: 96px;
      max-width: 126px;
      max-height: 96px;
    }

    h1 {
      font-family: $font-stack-header;
      text-transform: uppercase;
    }
  }

  header.all-settings {
    position: relative;
    height: 124px;
    background-image: url(../img/settings-bg-large.svg);
    overflow: hidden;

    & > img {
      margin: 0;
      position: absolute;
      left: 23px;
      top: 50%;
      transform: translateY(-50%);
      width: 128px;
      max-width: 128px;
    }

    hr {
      position: absolute;
      border: 1px solid #bbb;
      left: 0px; bottom: -0.5px; right: 0px;
      padding: 0;
      margin: 0;
    }

    nav.tabs {
      position: absolute;
      right: 0px;
      bottom: 0px;

      ul {
        display: flex;
        margin: 0;
        padding :0;
        margin-right: 5px;

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0;
          padding :0;
          margin-right: 5px;
          padding: 8px 15px;
          background-color: #CCCCCC;
          border-bottom: 1px solid #bbb;

          a {
            color: #777777;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 13px;
          }

          span.tool-indicator {
            background: #ccc;
            border: 1px solid #979797;
            display: block;
            width: 9px; height: 9px;
            border-radius: 9px;
            margin-right: 6px;

            &.tool-active {
              background: #6DD51B;
            }

            &.tool-env-active {
              background: #FDAC00;
            }
          }

          &.active {
            color: black;
            background-color: #F1F1F1;
            border: 1px solid #bbb;
            border-bottom: 0px solid rgba(0,0,0,0);

            a {
              color: black;
            }
          }
        }
      }

      @include mq($until: design) {
        display: none;
      }
    }

    nav.dropdown {
      display: none;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      align-items: center;

      & > div {
        margin-right: 10px;
        color: #777777;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.05em;
      }

      @include mq($until: design) {
        display: flex;
      }
    }


    @include mq($until: design) {
      height: 84px;

      & > img {

        width: 88px;
        max-width: 88px;
      }
      hr {
        display: none;
      }
    }
  }

  .settings-body {
    margin: 20px 20px;

    .settings-description {
      padding: 10px 20px;
      margin-bottom: 20px;
      font-size: 1.1em;
      text-align: center;
    }
  }
}


.button-warning {
  background: #dd9000 !important;
  border-color: #dd9000 #b97800 #b97800 !important;;
  -webkit-box-shadow: 0 1px 0 #b97800 !important;;
  box-shadow: 0 1px 0 #b97800 !important;;
  color: #fff !important;;
  text-decoration: none !important;;
  text-shadow: 0 -1px 1px #b97800,
  1px 0 1px #b97800,
  0 1px 1px #b97800,
  -1px 0 1px #b97800 !important;;
}

.media-cloud-tool-description {
  padding: 24px;
  background: #ddd;
  border-radius: 8px;
  margin-bottom: 20px;


  h2 {
    font-family: $font-stack-header;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
  }

  p {
    margin-top: 0px;
    font-size: 1.2em;
  }
}

.ilab-notification-container {
  .notice {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 20px;
    }
  }
}

.ilab-settings-section {
  background-color: #fafafa;

  padding: 25px 25px;
  border-radius: 8px;
  margin-bottom: 20px;
  overflow: hidden;

  h2 {
    padding: 10px 25px;
    background-color: #ddd;
    margin: -25px -25px 0px -25px;
    font-family: $font-stack-header;
    font-weight: 700;
    font-size: 13px;
    color: rgba(0,0,0,0.5) !important;
    text-transform: uppercase;
  }

  .section-description {
    margin-top: 20px;
    margin-bottom: 15px;
    font-style: italic;
  }

  .checkbox-w-description {
    display: flex;
    align-items: center;
    label {
      margin-right: 20px;
    }

    & > div > p {
      margin: 0;
    }
  }
}

.ilab-settings-toggle {
  padding: 0px 25px 5px 25px;
  table.form-table {
    tr {
      display: flex;
      flex-direction: row;
      align-items: center;

      @include mq($until: wp-mobile) {
        flex-direction: column;
        align-items: flex-start;
      }


      th {
        min-width: 200px;
        max-width: 200px;
      }

      @include mq($until: wp-mobile) {
        margin-bottom: 20px;

        th {
          margin-bottom: 10px;
        }
      }
    }
  }


}

.ilab-settings-button {
  display: flex;
  justify-content: center;
  p {
    padding: 0;
    margin: 0;
  }
}

.ilab-settings-batch-tools {
  display: flex;
  padding-right: 10px;
  margin-right: 20px;
  border-right: 1px solid #ccc;
  a.button {
    margin-right: 10px;
  }
}